body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2733;
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 10px;
  background-color: #46424D;
  margin: 0px;
}

h2 {
  color: #CBC9CF;
  padding: 10px 10px 0px 33px;
  font-size: 22px;
}

p {
  margin-bottom: 0px;
}

.main-page {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
}

.new-activity {
  flex: 2;
  border-right: 2px solid #46424D;
}

.past-activity {
  flex: 1;
  width: 30%;
}

.no-activity-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #CBC9CF;
}

.activity-card {
  color: #CBC9CF;
  background-color: #46424D;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px #202020;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.actv-completed-catg {
  margin: 10px 0px 10px 10px;
}

.card-text {
  margin: 4px;
}

.actv-completed-color {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.colored-box {
  margin: 10px 10px 0px 0px;
  background-color: #B3FD78;
  height: 28px;
  width: 4px;
}

.study-button {
  background-color: #B3FD78;
}

.meditate-color {
  background-color: #C278FD;
}

.exercise-color {
  background-color: #FD8078;
}

.select-category {
  font-size: 17px;
  margin-bottom: 10px;
}

.activity-box {
  background-color: #46424D;
  margin: 33px;
  padding: 3rem 5rem 4rem 5rem;
  width: 73%;
  min-height: 35%;
  color: white;
  border-radius: 1%;
  box-shadow: 5px 5px 5px 0px #202020;
}

.study-timer {
  border-color: #B3FD78;
}

.meditate-timer {
  border-color: #C278FD;
}

.exercise-timer {
  border-color: #FD8078;
}

.start-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  background: none;
  cursor: pointer;
  font-size: 22px;
  color: #FFF;
  margin-bottom: 50px;
  cursor: pointer;
}

.makeEmojiBigger {
  font-size: 200px;
}

.button {
  width: 8rem;
  background: transparent;
  border:1.5px solid white;
  border-radius: 5%;
  color: white;
  font-size: 14px;
  height: 60px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.activity-timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.actv-button-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.study-button {
  background-image: url("./assets/study.svg");
  display: flex;
  justify-content: center;
  width: 14em;
  height: 5em;
}

.meditate-button {
  background-image: url("./assets/meditate.svg");
  display: flex;
  justify-content: center;
  width: 14em;
  height: 5em;
}

.exercise-button {
  background-image: url("./assets/exercise.svg");
  display: flex;
  justify-content: center;
  width: 14em;
  height: 5em;
}

.active-study {
  background-image: url("./assets/study-active.svg");
  color: #B3FD78;
  border-color: #B3FD78;
}

.active-meditate {
  background-image: url("./assets/meditate-active.svg");
  color: #C278FD;
  border-color: #C278FD;
}

.active-exercise {
  background-image: url("./assets/exercise-active.svg");
  color: #FD8078;
  border-color: #FD8078;
}

.warning-message {
  color: #EFB7EC;
}

.warning-image {
  width: 20px;
  height: 20px;
}

.prompt {
  padding: 4em 0em 4em 0em;
}

label {
  display: flex;
  margin: 0px 150px 25px 0px;
  font-size: 18px;
}

.input-field {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 1em;
  color: white;
  cursor: text;
}

.time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4em;
}

.minute {
  margin-right: 5em;
  width: 50%;
}

.second {
  width: 50%;
}

.start-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.start-btn {
  cursor: pointer;
  width: 250px;
  height: 45px;
  font-size: 18px;
}

.countdown {
  font-size: 70px;
  font-weight: 900px;
  padding: 0px 0px 50px 0px;
}

#createNewAct {
  margin: 40px 25% 500px 25%;
  width: 50%;
}

.hidden {
  display: none;
}
