body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2733;
  margin: 0px;
}
header {
 display: flex;
 justify-content: center;
 align-items: center;
 color: #FFF;
 font-size: 10px;
 background-color: #46424D;
 margin: 0px;
}
h2 {
  color: #CBC9CF;
  padding: 10px 10px 0px 33px;
  font-size: 22px;
}
.main-page {
 display: flex;
 align-items: flex-start;
 width: 100%;
 max-height: 100%;
}
.new-activity {
  flex: 2;
  border-right: 2px solid #46424D;
  margin-top: 0px;
}
.past-activity {
  flex: 1;
  width: 30%;
}
.words {
  color: #CBC9CF;
  margin-top: 30px;
  padding-left: 1em;
  text-align: center;
}
.form-title {
  font-size: 17px;
  margin-bottom: 10px;
}
.activity-box {
  background-color: #46424D;
  margin: 30px;
  padding: 3rem 5rem 4rem 5rem;
  width: 77%;
  min-height: 35%;
  color: white;
  border-radius: 1%;
  box-shadow: 5px 5px 5px #202020;
}
.button {
  width: 8rem;
  background: transparent;
  border:1.5px solid white;
  border-radius: 5%;
  color: white;
  font-size: 14px;
  height: 60px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.actv-button-row {
  padding-top: 0px;
  margin-top: 0px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.study-button {
  background-image: url("./assets/study.svg");
  display: block;
}
.meditate-button {
  background-image: url("./assets/meditate.svg");
  display: block;
}
.exercise-button {
  background-image: url("./assets/exercise.svg");
  display: block;
}
.active-study {
  background-image: url("./assets/study-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  color: #B3FD78;
  border-color: #B3FD78;
}
.active-meditate {
  background-image: url("./assets/meditate-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  color: #C278FD;
  border-color: #C278FD;
}
.active-exercise {
  background-image: url("./assets/exercise-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  color: #FD8078;
  border-color: #FD8078;
}

.warning-message {
  color: #EFB7EC;
  font-weight: bold;
}

.warning-image {
  max-width: 20px;
  max-height: 20px;
}

.prompt {
  padding-top: 4em;
  padding-bottom: 4em;
}
label {
  display: block;
  margin-bottom: 25px;
  margin-right: 150px;
}

.input-field {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-top: 1em;
  color: white;
  pointer: text;
}

/* .warning-field {
  border-bottom: 1px solid #EFB7EC;
} */

.time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4em;
}
.minute {
  margin-right: 5em;
  width: 50%;
}
.second {
  width: 50%;
}
.start-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.start-btn {
  cursor: pointer;
}

.hidden {
  display: none;
}


/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
