body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2B2733;
  margin: 0px;
}
header {
 display: flex;
 justify-content: center;
 align-items: center;
 color: #FFF;
 font-size: 10px;
 background-color: #46424D;
 margin: 0px;
}
h2 {
  color: #CBC9CF;
  padding: 10px 10px 0px 33px;
  /* padding-bottom: 0px;
  padding-left: 32px; */
  font-size: 22px;
}
.main-page {
 display: flex;
 align-items: flex-start;
 width: 100%;
 /* height: 100%; */
 height: 1220px;
 border: 2px solid green;
}
.new-activity {
  flex: 2;
  border: 2px solid green;
  margin-top: 0px;
}
.past-activity {
  flex: 1;
  border: 2px solid black;
}
.form-title {
  font-size: 17px;
  margin-bottom: 10px;
  padding-left: 65px;
}
.activity-box {
  background-color: #46424D;
  height: 500px;
  width: 93%;
  background-color: #46424D;
  margin: 0px 30px 30px 30px;
  padding: 10px 0px 10px 10px;
  min-height: 35%;
  color: white;
  border-radius: 1%;
  box-shadow: 5px 5px 5px #202020;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.button {
  width: 140px;
  background: transparent;
  border:1.5px solid white;
  border-radius: 5%;
  color: white;
  font-size: 14px;
  height: 60px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actv-button-row {
  padding-top: 0px;
  margin-top: 0px;
  border: 2px solid red;
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.study-button {
  background-image: url("./assets/study.svg");
  display: block;
}
.meditate-button {
  background-image: url("./assets/meditate.svg");
  display: block;
}
.exercise-button {
  background-image: url("./assets/exercise.svg");
  display: block;
}

.active-study {
  background-image: url("./assets/study-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2em;
  color: #B3FD78;
  border-color: #B3FD78;
}
.active-meditate {
  background-image: url("./assets/meditate-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2em;
  color: #C278FD;
  border-color: #C278FD;
}
.active-exercise {
  background-image: url("./assets/exercise-active.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50% 20%;
  padding-top: 2em;
  color: #FD8078;
  border-color: #FD8078;
}




/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */
